/* schoolbell-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/schoolbell-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("assets/paper.jpg");
	background-size: 100%;
	display: flex;
	align-items: stretch;
	font-family: 'Schoolbell', 'Arial', monospace;
}

.user, .machine{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	flex-shrink: 0;
}

.headline {
	display: flex;
}

.humanScore, .computerScore {
	align-self: center;
	font-size: 50px;
}

.humanScore {
	padding-left: 50px;
}

.computerScore {
	padding-right: 50px;
}

.results {
	position: absolute;
	left: 40vw;
	right: 35vw;
	top: 40vh;
	display: flex;
	flex-direction: column;
}

.roundResult {
	font-size: 50px;
	text-transform: uppercase;
}

.roundResultTwo {
	font-size: 40px;
	text-transform: uppercase;
}

.headline {
	
}


button {
	background-size: 100% 100%;
	width: 200px;
	height: 100px;
	border-style: none;
}

.botoes > button {
	cursor: pointer;
}

.botoesmachine > button {
	cursor: not-allowed;
}

.rock {
	background-image: url("assets/btnrock.webp");
}

.rockmachine {
	background-image: url("assets/btnrockmachine.webp");
}

.paper {
	background-image: url("assets/btnpaper.webp");
}

.papermachine{
	background-image: url("assets/btnpapermachine.webp");
}

.scissors {
	background-image: url("assets/btnscissors.webp");
}

.scissorsmachine {
	background-image: url("assets/btnscissorsmachine.webp");
}

.profilePic {
	width: 150px;
	height: 150px;
}
